*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

/* header & nav */

header,
#logo-container,
ul {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 1em;
    width: 100vw;
}

#logo-container img {
    display: block;
    width: 1.5em;
}

h1 {
    margin: 0;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

#logo-container {
    align-items: center;
    gap: 0.5em;
}

nav {
    font-size: 0.75rem;
}

ul {
    gap: 1em;
    list-style: none;
    text-transform: uppercase;
    text-align: right;
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: #090909;
}

/* featured article */

.featured {
    min-height: 300px;
    padding: 1em;
    background-color: #321E11;
    background-image: url(./images/featured-article.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
}

.blog-date {
    order: -1;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
}

.blog-title {
    font-size: 2rem;
}

.blog-text {
    font-size: 1rem;
}