*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

/* header & nav */

header,
#logo-container,
ul {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 1em;
    width: 100%;
}

#logo-container img {
    display: block;
    width: 1.5em;
}

h1 {
    margin: 0;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

#logo-container {
    align-items: center;
    gap: 0.5em;
}

nav {
    font-size: 0.75rem;
}

ul {
    gap: 1em;
    list-style: none;
    text-transform: uppercase;
    text-align: right;
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: #090909;
}

/* featured article */

.featured {
    min-height: 300px;
    padding: 1em;
    background-color: #321E11;
    background-image: url(./images/featured-article.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
}

.featured .blog-date {
    order: -1;
}

.blog-date {
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
}

.featured .blog-title {
    font-size: 2rem;
}

.blog-text {
    font-size: 1rem;
    font-weight: 400;
}

/* articles */

.blogs {
    padding: 2em 1em;
    display: grid;
    grid-template-columns: 100%;
    gap: 1.5em;
}

.blog-post {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.blog-post .blog-title {
    font-size: 1.5rem;
    color: #141414;
}

.blog-post img {
    width: 100%;
    order: -2;
    margin-bottom: 0.75em;
}

.blog-post .blog-date {
    order: -1;
}

.blog-post .blog-text {
    color: #505050;
}

/* footer */

.view-more {
    display: block;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}

footer {
    padding: 2em;
    background-color: #202020;
    color: #fff;
    text-align: center;
    font-size: 0.75rem;
}

.footer-header {
    font-weight: 500;
}

.footer-copyright {
    font-weight: 200;
}

/* media queries */

@media (min-width: 769px) {
    /* header */
    header {
        padding: 1em 1.5em;
    }

    #logo-container img {
        width: 1.75em;
    }

    h1 {
        font-size: 1.125rem;
    }

    nav {
        font-size: 0.875rem;
    }

    /* hero */
    .featured {
        min-height: 375px;
        padding: 1.5em;
    }

    .blog-date {
        font-size: 0.875rem;
    }

    .featured .blog-title {
        font-size: 2.25rem;
    }

    .featured .blog-text {
        max-width: 75%;
    }
    
    /* blogs */
    .blogs {
        padding: 1.5em;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-post img {
        height: 250px;
        object-fit: cover;
    }

}

@media (min-width: 1280px) {
    /* header */
    header {
        padding: 1.25em 2em;
    }

    #logo-container img {
        width: 2em;
    }

    h1 {
        font-size: 1.25rem;
    }

    nav {
        font-size: 1rem;
    }

    /* hero */
    .featured {
        min-height: 450px;
        padding: 2em;
    }

    .blog-date {
        font-size: 1rem;
    }

    .featured .blog-title {
        font-size: 2.5rem;
    }

    .featured .blog-text {
        max-width: 50%;
    }
    /* blogs */
    .blogs {
        padding: 2em;
        grid-template-columns: repeat(3, 1fr);
    }

}